@font-face {
    font-family: 'ubuntubold';
    src: url('font/ubuntu-b-webfont.woff2') format('woff2'),
    url('font/ubuntu-b-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('font/ubuntu-r-webfont.woff2') format('woff2'),
    url('font/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifregular';
    src: url('font/PTF55F-webfont.eot');
    src: url('font/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/PTF55F-webfont.woff2') format('woff2'),
    url('font/PTF55F-webfont.woff') format('woff'),
    url('font/PTF55F-webfont.ttf') format('truetype'),
    url('font/PTF55F-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifbold';
    src: url('font/PTF75F-webfont.eot');
    src: url('font/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/PTF75F-webfont.woff2') format('woff2'),
    url('font/PTF75F-webfont.woff') format('woff'),
    url('font/PTF75F-webfont.ttf') format('truetype'),
    url('font/PTF75F-webfont.svg#pt_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifitalic';
    src: url('font/PTF56F-webfont.eot');
    src: url('font/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/PTF56F-webfont.woff2') format('woff2'),
    url('font/PTF56F-webfont.woff') format('woff'),
    url('font/PTF56F-webfont.ttf') format('truetype'),
    url('font/PTF56F-webfont.svg#pt_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ubunturegular, Helvetica, Arial, sans-serif;
    align-content: flex;
    background-color: #15171c;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.themeBox {
    border: 2px solid #434857;
    background-color: #252830;
    box-shadow: rgba(0, 0, 10, 0.50) 0px 0px 106px -17px inset;
    color: white;
}

#main {
    height: 100%;
    width: 1200px;
    margin: auto;
}

header {
    height: 10%;
    width: (100% - 4px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

#slideShow {
    display: flex;
    height: 30%;
    border-top: 0px;
    border-bottom: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow {
    position: relative;
    z-index: 150;
    opacity: 0.8;
    width: 60px;
    height: 100px;
    top: 97.6px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leftArrow {
    transform: rotate(180deg);
    float: left;
    margin-left: 10px;
}

.rightArrow {
    float: right;
    margin-right: 10px;
}

.slideShowImg {
    position: relative;
    min-width: 100%;
    left: 0px;
    transition: 1s;
}

.slideShowShadow {
    position: absolute;
    z-index: 10;
    box-shadow: rgb(0, 0, 10) 0px 0px 356px -15px inset;
    width: 1196px;
    height: 30%;
    overflow: hidden;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    border: 2px solid #434857;
    float: left;
    height: 50%;
    width: 700px;
}

#mapFaded {
    margin-left: 2px;
    z-index: 10;
    background-color: black;
    opacity: 0;
    height: 500px;
    width: 700px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    pointer-events: none;
}

#mapFaded.fadeOn {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    opacity: 0.5;
    pointer-events: all;
}

#mapFaded.fadeOff {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    opacity: 0;
    pointer-events: none;
}

#panel {
    margin-left: 696px;
    height: 50vh;
    width: 500px;
    text-align: center;
}

#name {
    padding-top: 50px;
}

#spanMargin {
    margin-left: 15px;
    padding-left: 15px;
}

.panelButton {
    margin: auto;
    height: 50px;
    width: 150px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panelButtonAvailable {
    color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}

.panelButtonDisabled {
    color: #434857;
    border-color: #434857;
    background-color: #232837;
    cursor: default;
}

.panelButtonReserved {
    color: #dc3545;
    border-color: #dc3545;
    background-color: #232837;
    cursor: pointer;
}

.panelButtonDisabled:hover {
    background-color: #232837;
}

.panelButton:hover {
    color: #434857;
    border-color: #434857;
    background-color: #28a745;
}

.panelButtonReserved:hover {
    color: #434857;
    border-color: #434857;
    background-color: #dc3545;
}

.hintBox {
    z-index: 500;
    bottom: -10px;
    left: 187px;
    color: #434857;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 1196px;
    height: 10%;
    width: (100% - 4px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

#storedStation {
    position: relative;
    top: -25px;
    font-size: 35px;
}

footer p {
    position: relative;
    font-size: 25px;
    top: -60px;
}

.footerButton {
    position: absolute;
    top: 1px;
    margin-left: 10px;
    z-index: 10;
    height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: 30px;
    color: #586fcf;
    border: solid 2px #586fcf;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footerButton:hover {
    color: #434857;
    border-color: #434857;
    background-color: #586fcf;
    transition: 0.2s
}

@media only screen and (max-width: 1200px) {
    #main {
        width: auto;
    }
    #slideShow {
        display: none;
    }
    #map {
        float: none;
        width: auto;
    }
    #panel {
        margin-left: auto;
        float: none;
        width: auto;
        height: 420px;
    }
    #name {
        padding-top: 0px; 
    }
    #spanMargin {
        margin-left: 0px;
        padding-left: 0px;
    }
    footer {
        position: static;
        width: auto;
        height: auto;
    }
    
    #storedStation {
        font-size: 25px;
        margin-top: 50px;
    }
    .footerButton {
        position: relative;
        top: 5px;
    }
    #timer {
        position: relative;
        top: -35px;
    }
}
@media only screen and (max-height: 790px) {
    #name {
        padding-top: 0px; 
    }
}